  <div class=" mt-5 p-4">
    <h3 class=" font-bold">Reference:</h3>
    <ol class=" list-decimal">
      <li><a href="https://developers.cloudflare.com/turnstile/get-started/client-side-rendering/#widget-size" class="text-sky-500 font-semibold">Widget Style</a></li>
      <li><a href="https://developers.cloudflare.com/turnstile/troubleshooting/testing/" class="text-sky-500 font-semibold">Testing Locally</a></li>
    </ol>
  </div>
  </body>
</html>